@model Product

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Product</h2>
		</div>
	</div>

	<div class="mb-3">
		<label asp-for="Title"></label>
		<input asp-for="Title" type="text" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="Description"></label>
		<input asp-for="Description" type="text" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="ISBN"></label>
		<input asp-for="ISBN" type="text" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="Author"></label>
		<input asp-for="Author" type="text" class="form-control" />
	</div>

	@* VIEWBAG 
	<div class="mb-3">
		<label asp-for="CategoryId"></label>
		<select asp-for="CategoryId" asp-items="ViewBag.CategoryList" type="text" class="form-select">
			<option disabled selected>-- Select Category --</option>
		</select>
	</div>
	*@

	<div class="mb-3">
		<label asp-for="CategoryId"></label>
		<select asp-for="CategoryId" asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)" type="text" class="form-select">
			<option disabled selected>-- Select Category --</option>
		</select>
	</div>

	<div class="mb-3">
		<label asp-for="ListPrice"></label>
		<input asp-for="ListPrice" type="text" class="form-control" />
	</div>

	<div class="row">
		<div class="col-6">
			<a asp-controller="Product" asp-action="Index" class="btn btn-info form-control">Back to List</a>
		</div>
		<div class="col-6">
			<button type="submit" class="btn btn-primary form-control">Create</button>
		</div>
	</div>
</form>